<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.meetlearning.dao.mapper.RechargeOrderMapper">
    <resultMap id="BaseResultMap" type="org.example.meetlearning.dao.entity.RechargeOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="manager_id" jdbcType="VARCHAR" property="managerId"/>
        <result column="ip_address" jdbcType="VARCHAR" property="ipAddress"/>
        <result column="pay_config_id" jdbcType="VARCHAR" property="payConfigId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="wx_transaction_id" jdbcType="VARCHAR" property="wxTransactionId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , create_time, pay_time, student_id, manager_id, amount, quantity, wx_transaction_id, order_id, ip_address,pay_config_id
    status
    </sql>

    <select id="selectByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from recharge_order
        where student_id = #{studentId}
    </select>

    <select id="selectByRecordId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from recharge_order
        where order_id = #{orderId}
    </select>

    <insert id="insert" parameterType="org.example.meetlearning.dao.entity.RechargeOrder">
        insert into recharge_order (create_time, pay_time,
                                    student_id, manager_id, amount,
                                    quantity, wx_transaction_id, status,  order_id, ip_address,pay_config_id)
        values (#{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP},
                #{studentId,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL},
                #{quantity,jdbcType=DECIMAL}, #{wxTransactionId,jdbcType=VARCHAR},
                #{status,jdbcType=TINYINT},#{orderId,jdbcType=VARCHAR},#{ipAddress,jdbcType=VARCHAR},#{payConfigId,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="org.example.meetlearning.dao.entity.RechargeOrder">
        update recharge_order
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=VARCHAR},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="wxTransactionId != null">
                wx_transaction_id = #{wxTransactionId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>