<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.meetlearning.dao.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="org.example.meetlearning.dao.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="encryption" jdbcType="VARCHAR" property="encryption" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="age" jdbcType="DECIMAL" property="age" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="consumption" jdbcType="DECIMAL" property="consumption" />
    <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime" />
    <result column="last_activities" jdbcType="VARCHAR" property="lastActivities" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="recommender_id" jdbcType="VARCHAR" property="recommender" />
    <result column="recommender" jdbcType="VARCHAR" property="recommender" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="learn_purpose" jdbcType="VARCHAR" property="learnPurpose" />
    <result column="learn_plan" jdbcType="VARCHAR" property="learnPlan" />
  </resultMap>

  <sql id="Base_Column_List">
    id
    , deleted, creator, create_name, create_time, updator, update_name, update_time,
    record_id, name, en_name, encryption, password, age, gender, phone, email, balance, consumption, expiration_time,
    last_activities, website, recommender, remark, learn_purpose, learn_plan
  </sql>

  <select id="selectByRecordId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where record_id = #{recordId}
  </select>

  <select id="selectByParams" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from student
      <where>
          deleted = 0
          <if test="params.keyword != null">
              and (
              name like LOWER(#{params.keyword})
              or phone like LOWER(#{params.keyword})
              or email like LOWER(#{params.keyword})
              or website like LOWER(#{params.keyword})
              or recommender like LOWER(#{params.keyword})
              or remark like LOWER(#{params.keyword})
              )
          </if>
      </where>
  </select>


  <select id="selectPageByParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from student
    <where>
      deleted = 0
      <if test="params.keyword != null">
        and (
        name like LOWER(#{params.keyword})
        or phone like LOWER(#{params.keyword})
        or email like LOWER(#{params.keyword})
        or website like LOWER(#{params.keyword})
        or recommender like LOWER(#{params.keyword})
        or remark like LOWER(#{params.keyword})
        )
      </if>
    </where>
  </select>


  <insert id="insertSelective" parameterType="org.example.meetlearning.dao.entity.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="encryption != null">
        encryption,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="consumption != null">
        consumption,
      </if>
      <if test="expirationTime != null">
        expiration_time,
      </if>
      <if test="lastActivities != null">
        last_activities,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="recommender != null">
        recommender,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="learnPurpose != null">
        learn_purpose,
      </if>
      <if test="learnPlan != null">
        learn_plan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="encryption != null">
        #{encryption,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="consumption != null">
        #{consumption,jdbcType=DECIMAL},
      </if>
      <if test="expirationTime != null">
        #{expirationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastActivities != null">
        #{lastActivities,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="recommender != null">
        #{recommender,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="learnPurpose != null">
        #{learnPurpose,jdbcType=VARCHAR},
      </if>
      <if test="learnPlan != null">
        #{learnPlan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="org.example.meetlearning.dao.entity.Student">

    update student
    <set>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=DECIMAL},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="consumption != null">
        consumption = #{consumption,jdbcType=DECIMAL},
      </if>
      <if test="expirationTime != null">
        expiration_time = #{expirationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastActivities != null">
        last_activities = #{lastActivities,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="recommender != null">
        recommender = #{recommender,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="learnPurpose != null">
        learn_purpose = #{learnPurpose,jdbcType=VARCHAR},
      </if>
      <if test="learnPlan != null">
        learn_plan = #{learnPlan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>