<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.meetlearning.dao.mapper.StudentClassRegularRecordMapper">
    <resultMap id="BaseResultMap" type="org.example.meetlearning.dao.entity.StudentClassRegularRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="course_time" jdbcType="DATE" property="courseTime"/>
        <result column="begin_time" jdbcType="VARCHAR" property="beginTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="regular_id" jdbcType="VARCHAR" property="regularId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , creator, create_name, create_time, course_time, begin_time, end_time, regular_id
    </sql>

    <select id="selectByRegularId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class_regular_record
        where regular_id in
        <foreach collection="regularIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey">
        delete
        from student_class_regular_record
        where record_id = #{recordId}
    </delete>

    <insert id="insert" parameterType="org.example.meetlearning.dao.entity.StudentClassRegularRecord">
        insert into student_class_regular_record (creator, create_name,
                                                  create_time, course_time, begin_time,
                                                  end_time, regular_id)
        values (#{creator,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{courseTime,jdbcType=DATE}, #{beginTime,jdbcType=VARCHAR},
                #{endTime,jdbcType=VARCHAR}, #{regularId,jdbcType=VARCHAR})
    </insert>

    <update id="updateEntity" parameterType="org.example.meetlearning.dao.entity.StudentClassRegularRecord">
        update student_class_regular_record
        <set>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courseTime != null">
                course_time = #{courseTime,jdbcType=DATE},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="regularId != null">
                regular_id = #{regularId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>