<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.meetlearning.dao.mapper.StudentClassMapper">
    <resultMap id="BaseResultMap" type="org.example.meetlearning.dao.entity.StudentClass">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="is_course_video_expired" jdbcType="BIT" property="isCourseVideoExpired"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="teacher_course_status" jdbcType="INTEGER" property="teacherCourseStatus"/>
        <result column="student_course_status" jdbcType="INTEGER" property="studentCourseStatus"/>
        <result column="course_video_url" jdbcType="VARCHAR" property="courseVideoUrl"/>
        <result column="zoom_id" jdbcType="VARCHAR" property="zoomId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="record_id" jdbcType="VARCHAR" property="recordId"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="student_country" jdbcType="VARCHAR" property="studentCountry"/>
        <result column="teacher_id" jdbcType="VARCHAR" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="teacher_country" jdbcType="VARCHAR" property="teacherCountry"/>
        <result column="teacher_language" jdbcType="VARCHAR" property="teacherLanguage"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="group_price" jdbcType="DECIMAL" property="groupPrice"/>
        <result column="coin" jdbcType="DECIMAL" property="coin"/>
        <result column="group_coin" jdbcType="DECIMAL" property="groupCoin"/>
        <result column="credits_price" jdbcType="DECIMAL" property="creditsPrice"/>
        <result column="course_id" jdbcType="VARCHAR" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_type" jdbcType="VARCHAR" property="courseType"/>
        <result column="begin_time" jdbcType="VARCHAR" property="beginTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="course_time" jdbcType="DATE" property="courseTime"/>
        <result column="affiliate_id" jdbcType="VARCHAR" property="affiliateId"/>
        <result column="affiliate_name" jdbcType="VARCHAR" property="affiliateName"/>
        <result column="student_consumption" jdbcType="DECIMAL" property="studentConsumption"/>
        <result column="efficient_date" jdbcType="TIMESTAMP" property="efficientDate"/>
        <result column="student_balance" jdbcType="DECIMAL" property="studentBalance"/>
        <result column="class_status" jdbcType="INTEGER" property="classStatus"/>
        <result column="cancel_id" jdbcType="VARCHAR" property="cancelId"/>
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime"/>
        <result column="meeting_record_id" jdbcType="VARCHAR" property="meetingRecordId"/>
        <result column="is_complaint" jdbcType="VARCHAR" property="isComplaint"/>
        <result column="is_evaluation" jdbcType="VARCHAR" property="isEvaluation"/>
        <result column="textbook" jdbcType="VARCHAR" property="textbook"/>
        <result column="is_verification" jdbcType="BIT" property="isVerification"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , deleted, is_course_video_expired, creator, teacher_course_status, student_course_status,
    course_video_url, zoom_id, create_name, create_time, updator, update_name, update_time, 
    record_id, student_id, student_name, student_country, teacher_id, teacher_name, teacher_country, 
    course_id, course_name, course_type, course_time, affiliate_id, begin_time, end_time, affiliate_id,
    affiliate_name, student_consumption, efficient_date, student_balance, cancel_id, cancel_time,
        meeting_record_id, is_complaint, is_evaluation, textbook, price, credits_price, class_status,
        group_price, group_coin, coin, textbook, teacher_language, is_verification
    </sql>

    <select id="selectByRecordId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class
        where record_id = #{record_id}
    </select>

    <select id="selectByMeetId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class
        where meeting_record_id = #{meetUuId}
    </select>

    <select id="selectByNowStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class
        where student_id = #{studentId} and course_time = #{courseTime} order by begin_time asc
    </select>

    <select id="selectByGltDateTeacherId" resultType="org.example.meetlearning.vo.classes.StudentClassPriceGroupVo">
        select teacher_id   as teacherId,
               record_id    as recordId,
               price        as price,
               group_price  as groupPrice,
               class_status as classStatus,
               course_type  as courseType,
               count(1)     as totalQty
        from student_class
        where deleted = 0
          and teacher_id = #{teacherId}
          and is_verification = false
          and course_time &lt;= #{courseDate}
        group by course_type, price, group_price, class_status
    </select>

    <update id="updateByGltDateTeacherId">
        update student_class
        set is_verification = true
        where deleted = 0
          and teacher_id = #{teacherId}
          and class_status in ('FINISH', 'ABSENT', 'CANCEL_DE', 'ONT_STAR')
          and is_verification = false
          and course_time &lt;= #{courseDate}
    </update>

    <select id="selectClassByTimeBt" resultMap="BaseResultMap">
        select record_id,
               course_time,
               begin_time,
               student_id,
               teacher_id
        from student_class
        where deleted = 0
          and course_time = #{courseDate}
          and begin_time = #{beginTime}
    </select>

    <select id="selectPageByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class
        where deleted = 0
        <include refid="common_where"/>
        order by course_time asc, begin_time asc
    </select>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class
        where deleted = 0
        <include refid="common_where"/>
    </select>


    <select id="selectAbsentByDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_class
        where deleted = 0 and teacher_course_status = 1 and course_time &lt;= #{courseTime}
    </select>

    <select id="selectCancelByParams" resultType="java.lang.Long">
        select
        count(1)
        from student_class
        where deleted = 0 and class_status = 7
        <include refid="common_where"/>
    </select>

    <select id="selectCompleteByParams" resultType="java.lang.Long">
        select
        count(1)
        from student_class
        where deleted = 0 and class_status = 3
        <include refid="common_where"/>
        order by course_time asc, begin_time asc
    </select>

    <select id="selectClassStatusGroupByParams" resultMap="BaseResultMap">
        SELECT teacher_id,
               class_status,
               price,
               group_price
        from student_class
        WHERE deleted = 0
          and teacher_id = #{teacherId}
          and DATE_FORMAT(course_time, '%Y-%m') = DATE_FORMAT(CURRENT_DATE(), '%Y-%m')
    </select>

    <select id="selectAffCountByParams" resultType="org.example.meetlearning.vo.common.SelectValueVo">
        select
        affiliate_id as `value`, CONCAT(count(record_id),"") as label
        from student_class
        <where>
            deleted = 0 and affiliate_id is not null
            <include refid="common_where"/>
        </where>
        group by affiliate_id
    </select>

    <sql id="common_where">
        <if test="params.teacherKeyword != null">
            and teacher_name like #{params.teacherKeyword}
        </if>
        <if test="params.studentKeyword != null">
            and student_name like #{params.studentKeyword}
        </if>
        <if test="params.studentId != null">
            and student_id = #{params.studentId}
        </if>
        <if test="params.teacherId != null">
            and teacher_id = #{params.teacherId}
        </if>
        <if test="params.beginDate != null">
            and course_time >= #{params.beginDate}
        </if>
        <if test="params.endDate != null">
            and course_time &lt;= #{params.endDate}
        </if>
        <if test="params.isUnClass != null and params.isUnClass == 1">
            and class_status in (1,2)
        </if>
        <if test="params.isUnClass != null and params.isUnClass == 0">
            and class_status &lt;> 1
        </if>
        <if test="params.affiliateIds != null">
            and affiliate_id in
            <foreach collection="params.affiliateIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <insert id="insertEntity" parameterType="org.example.meetlearning.dao.entity.StudentClass">
        insert into student_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="isCourseVideoExpired != null">
                is_course_video_expired,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="teacherCourseStatus != null">
                teacher_course_status,
            </if>
            <if test="studentCourseStatus != null">
                student_course_status,
            </if>
            <if test="courseVideoUrl != null">
                course_video_url,
            </if>
            <if test="zoomId != null">
                zoom_id,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="recordId != null">
                record_id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="studentName != null">
                student_name,
            </if>
            <if test="studentCountry != null">
                student_country,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="teacherName != null">
                teacher_name,
            </if>
            <if test="teacherCountry != null">
                teacher_country,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="courseType != null">
                course_type,
            </if>
            <if test="courseTime != null">
                course_time,
            </if>
            <if test="affiliateId != null">
                affiliate_id,
            </if>
            <if test="affiliateName != null">
                affiliate_name,
            </if>
            <if test="studentConsumption != null">
                student_consumption,
            </if>
            <if test="efficientDate != null">
                efficient_date,
            </if>
            <if test="studentBalance != null">
                student_balance,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="meetingRecordId != null">
                meeting_record_id,
            </if>
            <if test="classStatus != null">
                class_status,
            </if>
            <if test="textbook != null">
                textbook,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="creditsPrice != null">
                credits_price,
            </if>
            <if test="groupPrice != null">
                group_price,
            </if>
            <if test="groupCoin != null">
                group_coin,
            </if>
            <if test="coin != null">
                coin,
            </if>
            <if test="teacherLanguage != null">
                teacher_language,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="isCourseVideoExpired != null">
                #{isCourseVideoExpired,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="teacherCourseStatus != null">
                #{teacherCourseStatus,jdbcType=INTEGER},
            </if>
            <if test="studentCourseStatus != null">
                #{studentCourseStatus,jdbcType=INTEGER},
            </if>
            <if test="courseVideoUrl != null">
                #{courseVideoUrl,jdbcType=VARCHAR},
            </if>
            <if test="zoomId != null">
                #{zoomId,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=VARCHAR},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="recordId != null">
                #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=VARCHAR},
            </if>
            <if test="studentName != null">
                #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="studentCountry != null">
                #{studentCountry,jdbcType=VARCHAR},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="teacherCountry != null">
                #{teacherCountry,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="courseType != null">
                #{courseType,jdbcType=VARCHAR},
            </if>
            <if test="courseTime != null">
                #{courseTime,jdbcType=DATE},
            </if>
            <if test="affiliateId != null">
                #{affiliateId,jdbcType=VARCHAR},
            </if>
            <if test="affiliateName != null">
                #{affiliateName,jdbcType=VARCHAR},
            </if>
            <if test="studentConsumption != null">
                #{studentConsumption,jdbcType=DECIMAL},
            </if>
            <if test="efficientDate != null">
                #{efficientDate,jdbcType=TIMESTAMP},
            </if>
            <if test="studentBalance != null">
                #{studentBalance,jdbcType=DECIMAL},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="meetingRecordId != null">
                #{meetingRecordId,jdbcType=VARCHAR},
            </if>
            <if test="classStatus != null">
                #{classStatus,jdbcType=INTEGER},
            </if>
            <if test="textbook != null">
                #{textbook,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="creditsPrice != null">
                #{creditsPrice,jdbcType=DECIMAL},
            </if>
            <if test="groupPrice != null">
                #{groupPrice,jdbcType=DECIMAL},
            </if>
            <if test="groupCoin != null">
                #{groupCoin,jdbcType=DECIMAL},
            </if>
            <if test="coin != null">
                #{coin,jdbcType=DECIMAL},
            </if>
            <if test="teacherLanguage != null">
                #{teacherLanguage,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateEntity" parameterType="org.example.meetlearning.dao.entity.StudentClass">
        update student_class
        <set>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="isCourseVideoExpired != null">
                is_course_video_expired = #{isCourseVideoExpired,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="teacherCourseStatus != null">
                teacher_course_status = #{teacherCourseStatus,jdbcType=INTEGER},
            </if>
            <if test="studentCourseStatus != null">
                student_course_status = #{studentCourseStatus,jdbcType=INTEGER},
            </if>
            <if test="courseVideoUrl != null">
                course_video_url = #{courseVideoUrl,jdbcType=VARCHAR},
            </if>
            <if test="zoomId != null">
                zoom_id = #{zoomId,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=VARCHAR},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="recordId != null">
                record_id = #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=VARCHAR},
            </if>
            <if test="studentName != null">
                student_name = #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="studentCountry != null">
                student_country = #{studentCountry,jdbcType=VARCHAR},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                teacher_name = #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="teacherCountry != null">
                teacher_country = #{teacherCountry,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=VARCHAR},
            </if>
            <if test="courseType != null">
                course_type = #{courseType,jdbcType=VARCHAR},
            </if>
            <if test="courseTime != null">
                course_time = #{courseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="affiliateId != null">
                affiliate_id = #{affiliateId,jdbcType=VARCHAR},
            </if>
            <if test="affiliateName != null">
                affiliate_name = #{affiliateName,jdbcType=VARCHAR},
            </if>
            <if test="studentConsumption != null">
                student_consumption = #{studentConsumption,jdbcType=DECIMAL},
            </if>
            <if test="efficientDate != null">
                efficient_date = #{efficientDate,jdbcType=TIMESTAMP},
            </if>
            <if test="studentBalance != null">
                student_balance = #{studentBalance,jdbcType=DECIMAL},
            </if>
            <if test="cancelId != null">
                cancel_id = #{cancelId,jdbcType=VARCHAR},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="meetingRecordId != null">
                meeting_record_id = #{meetingRecordId,jdbcType=VARCHAR},
            </if>
            <if test="isComplaint != null">
                is_complaint = #{isComplaint,jdbcType=VARCHAR},
            </if>
            <if test="isEvaluation != null">
                is_evaluation = #{isEvaluation,jdbcType=VARCHAR},
            </if>
            <if test="classStatus != null">
                class_status = #{classStatus,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="creditsPrice != null">
                credits_price = #{creditsPrice,jdbcType=DECIMAL},
            </if>
            <if test="groupPrice != null">
                group_price = #{groupPrice,jdbcType=DECIMAL},
            </if>
            <if test="groupCoin != null">
                group_coin = #{groupCoin,jdbcType=DECIMAL},
            </if>
            <if test="coin != null">
                coin = #{coin,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>