<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.meetlearning.dao.mapper.TeacherFeatureMapper">
    <resultMap id="BaseResultMap" type="org.example.meetlearning.dao.entity.TeacherFeature">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="record_id" jdbcType="VARCHAR" property="recordId"/>
        <result column="teacher_id" jdbcType="VARCHAR" property="teacherId"/>
        <result column="textbook_id" jdbcType="VARCHAR" property="textbookId"/>
        <result column="textbook_name" jdbcType="VARCHAR" property="textbookName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , creator, create_time, record_id, teacher_id, textbook_id, textbook_name
    </sql>
    <select id="selectByTeacherId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher_feature
        where teacher_id = #{teacherId,jdbcType=VARCHAR}
    </select>

    <select id="selectTeacherIdByTextbookName" resultType="java.lang.String">
        select teacher_id
        from teacher_feature
        where textbook_id = #{specialists,jdbcType=VARCHAR}
        <if test="teacherIds != null">
            and teacher_id in
            <foreach collection="teacherIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectByTeacherIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher_feature
        where teacher_id in
        <foreach collection="teacherIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deletedByTeacherId">
        delete
        from teacher_feature
        where teacher_id = #{teacherId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertBatch" parameterType="org.example.meetlearning.dao.entity.TeacherFeature">
        insert into teacher_feature (creator, create_time,
        record_id, teacher_id, textbook_id, textbook_name)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.creator,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.recordId,jdbcType=VARCHAR}, #{item.teacherId,jdbcType=VARCHAR},
            #{item.textbookId,jdbcType=VARCHAR}, #{item.textbookName,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>